# -----------------------------
# Python Bytecode & Notebooks
# -----------------------------
__pycache__/
*.py[cod]
*.ipynb_checkpoints/


# -----------------------------
# Virtual Environments
# -----------------------------
.venv/
venv/
env/
ENV/
*.egg-info/


# -----------------------------
# IDEs / Editor Configs
# -----------------------------
.vscode/
.idea/
.DS_Store
*.swp
*.swo


# -----------------------------
# Data Files
# -----------------------------

# Ignore everything under data/
data/*

# Allow only selected test files

# Claims (Avro)
!data/claims/
data/claims/*
!data/claims/claims_part_1.parquet
!data/claims/claims_part_2.parquet
!data/claims/claims_part_3.parquet

# Encounters (Excel)
!data/encounters/
data/encounters/*
!data/encounters/encounters_part_1.avro
!data/encounters/encounters_part_2.avro
!data/encounters/encounters_part_3.avro

# Feedback (JSONL)
!data/feedback/
data/feedback/*
!data/feedback/feedback_part_1.jsonl
!data/feedback/feedback_part_2.jsonl
!data/feedback/feedback_part_3.jsonl

# Patients (CSV)
!data/patients/
data/patients/*
!data/patients/patients_part_1.csv
!data/patients/patients_part_2.csv
!data/patients/patients_part_3.csv

# Providers (TSV)
!data/providers/
data/providers/*
!data/providers/providers_part_1.tsv
!data/providers/providers_part_2.tsv
!data/providers/providers_part_3.tsv


# -----------------------------
# Local Spark folders
# -----------------------------
spark-warehouse/
metastore_db/
*.sqlite
*.db
*.db-journal


# -----------------------------
# Secrets & Credentials
# -----------------------------
.env
.env.*
infra/.env
*.key
*.pem
*.crt
token.txt
.databrickscfg
secrets.yaml


# -----------------------------
# Logs, Reports, and Output
# -----------------------------
logs/
*.log
*.bak
*.out


# -----------------------------
# Archives / Compressed
# -----------------------------
archive/
*.zip
*.tar
*.tar.gz
*.rar
*.7z


# -----------------------------
# Testing / Coverage
# -----------------------------
.coverage
.cache/
.tox/
pytest_cache/
htmlcov/


# -----------------------------
# Build Artifacts
# -----------------------------
dist/
build/
.idea/workspace.xml
*.whl